<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
      <file value="logs\\log.txt" />

      <!--C:\\ws\\work\\selenium\\SeleniumCM\\SeleniumCM\\bin\\x86\\Release\\-->
      <!-- the location where the log file would be created -->
      <appendToFile value="true" />
      
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="defaultSendMailTimeMin" value="5" />
    <add key="defaultTimeCompilePBLMin" value="45" />
    <!-- WEIGHTS-->
    <add key="weightDefects" value="0.2" />
    <add key="weight1" value="0.1" />
    <!-- running configuration from excel -->
    <add key="startRow" value="156" />
    <add key="endRow" value="156" />
    <!-- usuario RTC-->
    <add key="RTCUser" value="jjjjj" />  <!--yyyyy-->
    <add key="RTCPass" value="kkkkk" />  <!--xxxx-->
    <!-- infraestructura-->
    <add key="DriversDirectory" value="drivers" />
    <add key="ScreenshotsDirectory" value="screenshots" />
    <add key="DownloadsDirectory" value="download" />
    <!-- tarea -->
    <add key="IdTicket" value="99343" />
    <add key="ticketUser" value="" />
    <!--<add key="ticketUser" value="xxxxxx"/>-->
    <add key="taskName" value="05-Preparación de Ambiente"/>
    <!--<add key="taskName" value="10-Registro de Defectos" />-->
    <add key="taskPlannedFor" value="" />
    <!--Enero-18-->
    <add key="taskDueDate" value="" />
    <!--Jan 25, 2018-->
    <add key="taskCycle" value="1" />
    <add key="description" value="STR.FALLA.INC000001063855.EAI c1"/>

    <add key="URLBase" value="https://172.19.112.112:9443/ccm/web/"/>
    <add key="SavedQueryPath" value="projects/CLARO.CERTIFICACION#action=com.ibm.team.workitem.runSavedQuery&amp;id={0}"/>
    <add key="SavedQueryID" value="_dFBmMPFgEeeNcoh591NY9Q"/>
    <add key="SavedQueryIDDifferentAccount" value="_Rmq3kC0sEeiyuo2fJUBGTw"/>
    
    <add key="ResourcePage" value="https://172.19.112.112:9443/ccm/web/projects/CLARO.CERTIFICACION#action=com.ibm.team.workitem.viewWorkItem&amp;id={0}" />
    <add key="SolicitudlinksTab" value="https://172.19.112.112:9443/ccm/web/projects/CLARO.CERTIFICACION#action=com.ibm.team.workitem.viewWorkItem&amp;id={0}&amp;tab=com.ibm.team.workitem.tab_solicitud_links" />
    <add key="FallalinksTab" value="https://172.19.112.112:9443/ccm/web/projects/CLARO.CERTIFICACION#action=com.ibm.team.workitem.viewWorkItem&amp;id={0}&amp;tab=com.ibm.team.workitem.tab.solicitud_pqt" />
    <!--close task-->
    <add key="TaskID" value="92724" />
    <add key="TimeSpentHr" value="4" />
    <add key="TaskStartTime" value="Feb 26, 2018, 12:00:00 PM" />  <!--Feb 6, 2018, 9:00:00 AM-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="StreamsInstalled" value="1"/>
    <!--ie-->
    <add key="IEUrl" value="http://limqasdacv02/siaseg"/>
    <add key="IEUser" value="sssss"/>
    <add key="IEPassword" value="sssss"/>

    
    <!--defectos-->
    
    <add key="URLdefectPartial" value="#action=com.ibm.team.workitem.newWorkItem&amp;type=defect"/>
    <add key="ProjectAreaURLPartial" value="projects/{0}"/>  
   
    <add key ="WISearchURLPartialHistory" value="projects/01.GESTION.SOLICITUDES.1#action=com.ibm.team.workitem.viewWorkItem&amp;id={0}&amp;tab=com.ibm.team.workitem.tab.history"/>
  
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>